root = true

[*.{kt,kts}]
ktlint_standard_backing-property-naming = disabled
ktlint_standard_filename = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_no-consecutive-comments = disabled
